<header class="site-header" role="banner">

  <!-- Banner -->
  <div class="site-banner">
    <div class="site-banner-overlay"></div>

    <div class="wrapper site-banner-content">
      <h1 class="site-banner-title">
        <a href="{{ "/" | relative_url }}" class="site-banner-link">
          {{ site.title }} – {{ site.description }}
        </a>
      </h1>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="site-nav-bar">
    <div class="wrapper">
      <a href="{{ "/" | relative_url }}" class="site-nav-link">Home</a>
    </div>
  </nav>

</header>
